body {
    font-family: Georgia, serif;
    line-height: 1.2;
    padding: 12px;
    background-color: antiquewhite;
    text-align: justify;
}

header, main {
    background-color: antiquewhite;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
}

header{
    text-align: center;
}

h1, a {
    color:darkolivegreen;
}

main p, ul{
    font-size: 14px;
}

.column {
    float: left;
    width: 30%;
    padding: 10px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }